//- module
mixin xfc
  .xfc.toolbar
    .xfc-head.form-inline.d-flex
      .dropdown.mr-2
        .btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown") Category ...
        .dropdown-menu.shadow-sm(style="max-height:50vh;overscroll-behavior:contain;overflow-y:scroll")
          .dropdown-item(ld-each="category")
      .dropdown.mr-2
        .btn.btn-outline-secondary.dropdown-toggle(data-toggle="dropdown") Subset ...
        .dropdown-menu.shadow-sm(style="max-height:50vh;overscroll-behavior:contain;overflow-y:scroll")
          .dropdown-item(ld-each="subset")
      .flex-grow-1.d-flex.justify-content-start: input.form-control(ld="search", placeholder="Search...")
      .btn.btn-text.mx-2 or
      .btn.btn-outline-secondary.btn-upload(ld="upload") Upload #[input(type="file")]
    .xfc-content
      .xfc-font(ld-each="font")
    block
