//- module
#demo-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        .form-inline(style="justify-content:center")
          .btn-group.mr-2
            .btn.btn-outline-secondary Serif
            .btn.btn-outline-secondary Sans Serif
            .btn.btn-outline-secondary Display
            .btn.btn-outline-secondary Handwriting
            .btn.btn-outline-secondary Monospace
            .btn.btn-outline-secondary Chinese
          input.form-control

        .choosefont
